.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


  
.custom-brand-font{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #3E3E3E;
  line-height: 33px;
  font-size: 22px;
}

.custom-nav-item-font{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size:16px;
  color: #3E3E3E;
  line-height: 33px;
}

.custom-carousel-container{
  width: 100%; 
}

.custom-carousel-item-height{
  max-height: 584px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: clip;
}

.custom-carousal-img{
  background-image: url(img/carousal_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 584px;
  &::after{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 21.92%, rgba(0, 0, 0, 0.418) 160.04%, rgba(0, 0, 0, 0.121) 160.06%);

  }
}


.custom-carousal-header-text{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 48px;
  line-height: 57.84px;
}

.carousel-caption{
  max-width: 639px;
  height: 230px;
  margin: 0 auto;
}

.custom-carousel-button{
  height: 44px;
  width: 168px;
  border-radius: 5px;
  background-color: white;
  color: #3F87F5;
  font-family: 'Poppins', sans-serif;
  font-weight: 700px;
  font-size: 16px;
  line-height: 24px;
}


.carousel .carousel-indicators button {
  border-radius: 5px;
  width: 68px;
  height: 5px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}


.custom-card-1{
  /* /* height: 387px; */
  width: 232px
}

@media screen and (max-width: 768px) {
  .custom-brand-font{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #3E3E3E;
    line-height: 33px;
    font-size: 14px;
    line-height: 21px;
    width: 143px;
    height: 42px;
  }
  
  .custom-carousal-header-text{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding: 0;
    margin: 0;
  }

  .custom-scale{
    scale: 0.74;
  }

  .carousel .carousel-indicators button {
    border-radius: 5px;
    width: 24.77px;
    height: 2.93px;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
  }
  

}